.form-container{
}
.form-container a{
    text-decoration: none;
    color: black;
}
.book-card-head{
    font-size: 24px;
    font-weight: bold;
    padding: 15px 30px;
}
.book-card{
    border-radius: 30px;
    margin: 35px 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 4px 12px;
}

.book-card-row{
    justify-content: center;
}

.book-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: background-color 0.5s ease;
    position: relative;
}

.book-card-img>img{
    width: 70%;
    max-width: 130px;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
}

.book-card-img > i {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 24px;
}

.book-card-content div{
    padding: 0 15px;
    font-size: clamp(14px, 2vw, 16px);
    font-weight: bold;
    margin-bottom: 10px;
}

.book-card-title{
    margin-bottom: 10px;
    font-size: clamp(18px, 2.5vw, 24px) !important;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.book-card-desc{
    color: #999999;
    margin-bottom: 10px;
    font-size: clamp(12px, 1.8vw, 14px);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.book-card-review {
    align-items: center;
}
.book-card-review>span{
    text-decoration: underline;
}
.book-card-review i{
    color: #50A65D;
}

.book-detail-img{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.book-detail-img>img{
    max-height: 440px;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
}
.book-detail-content{
    padding: 30px 30px;
}
.book-detail-row hr{
    height: 8px;
    border:0;
    background-color: #F9F9F9;
    opacity: 100%;
    margin: 0;
}
.book-detail-title{
    font-size: clamp(18px, 2vw, 20px);
    font-weight: bold;
    line-height: 30px;
}
.book-detail-info{
    font-size: clamp(12px, 2vw, 14px);
    color:#AFAFAF;
    margin-bottom: 23px;
}
.book-detail-info .author{
    color: black;
}
.book-detail-icon div{
    width: 25px;
    margin-left: 22px;
}
.book-detail-icon div i{
    font-size: 25px;
    color: #50A65D;
}
.book-detail-sub-content{
    font-size: 20px;
    padding: 20px 30px;
}

.book-detail-sub-content>div{
    margin-bottom: 20px;
}
